p.total {
    color: black;
    font-weight: 1000;
}


p {
    color: red;
    margin-left: 100px;
    margin-top: 100px;
}

#importeTotal {
    color: purple;

}

h2 {
    margin-left: 300px;
}

p.envio {
    margin-left: 450px;
    color: brown;
}

#pRojo {
    margin-left: 200px;
    font-weight: 600;
}


